.tox/*
.idea/*
.cache/*
.pytest_cache/*
__pycache__/*
docs/build/*
docs/_build/*
tests/assets/production/*
*.egg
*.egg-info
*.log
*.pyc
*.pyd
*.pyo
.DS_Store
.coverage
dist
build
coverage.xml
junit-*.xml
